.card-container{
 margin: 10px;
}

.card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-price-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

