

.cat-button-group-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 20px;
    
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sort-form-outer-container{
    margin: 20px;
}
.sort-form-container{
    margin: 20px;
    width: 200px;
}

